
{% for n in natayej %}
<div class="card" style="border-radius : 20px;box-shadow: 3px 3px 5px grey;margin-left: 10px;margin-top:20px;margin-right: 10px;background: rgb(235, 235, 235);">
    <div class="card-body">
            <table>
                
                   
                
              <tr>
                  
                <td width="10%">
                  <p>{{n.mizban}}</p>
                </td>
                <td width="10%">

                </td>
                <td width="10%">

                </td>
                <td width="10%">

                </td>
                <td width="10%">

                </td>
              </tr>
             
            </table>
                
            
    </div>
  </div>
  {% endfor %}