{% extends 'myhtml/base.html' %}



{% block main %}
{% block title-mata %} فوتبالت|اخبار{% endblock %}

<body style="background-color:rgb(245, 245, 245)">
    <center>



        <table class="tb" style="margin-top:110px;margin-bottom:110px;">
            <tr width="100%">
                <td width="25%" style="position:-ms-page;"> 
                      <div id="pos-article-display-65894"></div>
                        <div id="pos-article-display-66104"></div>
                </td>
                <td width="50%" style="position:-ms-page;margin-left: 20px;margin-right: 20px;">

                        <center>
                                {% for n in ne %}
                    
                                <div class="ca" style="border-radius : 10px;box-shadow: 3px 3px 5px grey;margin-left: 10px;margin-bottom:20px;margin-right: 10px;">
                                        <div class="card-body">
                                                <article>
                                                        <p dir="rtl"><b>{{n.title}}</b> : {{n.discriptions|safe|striptags}}</p>
                                                </article>
                                        </div>
                                      </div>
                                      
                        
                                {% endfor %}
                        </center>
                        
                        
         </td>
                <td width="25%" style="position:-ms-page;">
                       <div id="pos-article-display-66103"></div>
                        <div id="pos-article-display-66105"></div>
                </td>
            </tr>
        </table>
    </center>

</body>

{% endblock %}
</html>